@import "tailwindcss";

@layer base {
  :root {
    --primary: #8F00FF;
    --darkbg:#171717;
    --cardbg: #23112e;
    --black: #130516;
  }

}

@layer utilities {
  .bg-primary {
    background-color: var(--primary);
  }
  .bg-darkbg {
    background-color: var(--darkbg);
  }
  .bg-cardbg{background-color: var(--cardbg);}

  .text-primary {
    color: var(--primary);
  }

  .from-primary {
    --tw-gradient-from: var(--primary);
  }

  .to-primary {
    --tw-gradient-to: var(--primary);
  }

  .via-primary {
    --tw-gradient-via: var(--primary);
  }
}
body{
  background-color: var(--darkbg);
}